* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.layout {
	height: 100vh;
}
.swipe {
	position: absolute;
	width: 90vw;
	height: calc(100vh - 50px - 8rem);
}

.cardContainer {
	width: 90vw;

	height: calc(100vh - 50px - 8rem);
}

.card {
	position: relative;
	background-color: #fff;
	width: 80vw;
	height: calc(100vh - 50px - 5rem);
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}
.card:not(:last-of-type) {
	box-shadow: none;
}

.cardContent {
	width: 100%;
	height: 100%;
}

.card-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 1rem;
	color: #fff;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8) 0%,
		rgba(0, 0, 0, 0.6) 73%,
		rgba(0, 0, 0, 0.4) 91%,
		rgba(0, 0, 0, 0.2) 100%
	);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.infoText {
	width: 100%;
	height: 28px;
	justify-content: center;
	display: flex;
	color: #fff;
	animation-name: popup;
	animation-duration: 800ms;
}
.movie-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 0;
	height: 100%;
	border: none;
	border-radius: 0;
	background-color: #222;
	overflow: auto;
}
.movie-modal-overlay {
	position: fixed;
    inset: 0px;
}

.movie-modal-close {
	z-index: 999;
}